<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a new campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="newcampname" placeholder="Camp Name">
                </div>
                <div class="form-group">
                    <input class="form-control"  type="text" name="newcampimage" placeholder="Camp Image">
                </div>
                <div class="form-group">
<!--                    <input class="form-control" type="text" name="newcampdesc" placeholder="Camp Description"> -->
                    <textarea class="form-control" rows="5" name="newcampdesc" placeholder="Camp Description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-large btn-default btn-block btn-primary">Submit</button>
                </div>
            </form>
            <a href="/">Go To Home</a>
            <br>
            <a href="/campgrounds/new">Add New Campgrounds</a>

        </div>
    </div>
</div>

<% include ../partials/footer %>